<p id="notice"><%= notice %></p>

<p>
  <strong>Orden:</strong>
  <%= @pendiente.orden %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @pendiente.tipo %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @pendiente.importe %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @pendiente.fecha %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @pendiente.estatus %>
</p>

<p>
  <strong>App:</strong>
  <%= @pendiente.app_id %>
</p>

<%= link_to 'Edit', edit_pendiente_path(@pendiente) %> |
<%= link_to 'Back', pendientes_path %>
