<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Nuevo Objetivo</h3>
          </div>
          <div class="panel-body">
            <%= form_for(@catalogo) do |f| %>
                <fieldset>
                <div class="form-group">
                  <%= f.label "Ingresa mes a configurar con formato numérico" %><br>
                  <%= f.text_field :mes,:placeholder => "Eje. 01 que corresponde a enero" , :class => "form-control" %>
                </div>
              <div class="form-group">
                 <%= f.label "Año Actual" %><br>
                 <%= f.text_field :año,:value => Date.today.year,:placeholder => "Eje. 01 que corresponde a enero", :class => "form-control" %>
              </div>
              <div class="form-group">
                 <%= f.label "Ingresa tu objetivo obligado" %><br>
                 <%= f.text_field :objetivo_obligado, :placeholder => "Eje. $2,000,000", :class => "form-control" %>
              </div>
              <div class="form-group">
                 <%= f.label "Ingresa tu objetivo ideal" %><br>
                 <%= f.text_field :objetivo_real, :placeholder => "Eje. $2,000,000", :class => "form-control" %>
              </div>
              <div class="actions">
                 <%= f.submit "Guardar", :class => "btn btn-lg btn-success btn-block" %>
              </div>
            </fieldset>
            <% end -%>
              <hr/>
          </div>
      </div>
    </div>
  </div>
</div>