<p id="notice"><%= notice %></p>

<h1>Listing Catalogos</h1>

<table>
  <thead>
    <tr>
      <th>Mes</th>
      <th>Año</th>
      <th>Objetivo mensual</th>
      <th>Objetivo obligado</th>
      <th>App</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catalogos.each do |catalogo| %>
      <tr>
        <td><%= catalogo.mes %></td>
        <td><%= catalogo.año %></td>
        <td><%= catalogo.objetivo_real %></td>
        <td><%= catalogo.objetivo_obligado %></td>
        <td><%= catalogo.app_id %></td>
        <td><%= catalogo.user_id %></td>
        <td><%= link_to 'Show', catalogo %></td>
        <td><%= link_to 'Edit', edit_catalogo_path(catalogo) %></td>
        <td><%= link_to 'Destroy', catalogo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Catalogo', new_catalogo_path %>
