<p id="notice"><%= notice %></p>

<p>
  <strong>Mes:</strong>
  <%= @catalogo.mes %>
</p>

<p>
  <strong>Año:</strong>
  <%= @catalogo.año %>
</p>

<p>
  <strong>Objetivo real:</strong>
  <%= @catalogo.objetivo_real %>
</p>

<p>
  <strong>Objetivo obligado:</strong>
  <%= @catalogo.objetivo_obligado %>
</p>

<p>
  <strong>App:</strong>
  <%= @catalogo.app_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @catalogo.user_id %>
</p>

<%= link_to 'Edit', edit_catalogo_path(@catalogo) %> |
<%= link_to 'Back', catalogos_path %>
