<p id="notice"><%= notice %></p>

<p>
  <strong>App:</strong>
  <%= @pago.app_id %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @pago.mes %>
</p>

<p>
  <strong>Año:</strong>
  <%= @pago.año %>
</p>

<%= link_to 'Edit', edit_pago_path(@pago) %> |
<%= link_to 'Back', pagos_path %>
