<%= form_for(@acceso) do |f| %>
  <% if @acceso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acceso.errors.count, "error") %> prohibited this acceso from being saved:</h2>

      <ul>
      <% @acceso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.text_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :app_id_s %><br>
    <%= f.text_field :app_id_s %>
  </div>
  <div class="field">
    <%= f.label :app_id_h %><br>
    <%= f.text_field :app_id_h %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
