<p id="notice"><%= notice %></p>

<h1>Listing Accesos</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>App</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accesos.each do |acceso| %>
      <tr>
        <td><%= acceso.user %></td>
        <td><%= acceso.app_id %></td>
        <td><%= link_to 'Show', acceso %></td>
        <td><%= link_to 'Edit', edit_acceso_path(acceso) %></td>
        <td><%= link_to 'Destroy', acceso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acceso', new_acceso_path %>
