<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @acceso.user %>
</p>

<p>
  <strong>Grupo</strong>
  <%= @acceso.group_id %>
</p>
<p>
  <strong>Agencia s</strong>
  <%= @acceso.app_id_s %>
</p>
<p>
  <strong>Agencia H</strong>
  <%= @acceso.app_id_h %>
</p>

<%= link_to 'Edit', edit_acceso_path(@acceso) %> |
<%= link_to 'Back', accesos_path %>
