<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Pronostic</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Nunito:400,300,700" rel="stylesheet" id="fontFamilySrc" />
    <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734615/jquery-ui.min.css" rel="stylesheet" />
    <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734729/bootstrap.min.css" rel="stylesheet" />
    <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447735152/animate.min.css" rel="stylesheet" />
    <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447735249/style.min.css" rel="stylesheet" />
  <!-- ================== END BASE CSS STYLE ================== -->
  
  <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447735472/jquery.gritter.css" rel="stylesheet" />  
  <!-- ================== END PAGE LEVEL CSS STYLE ================== -->
    
  <!-- ================== BEGIN BASE JS ================== -->
  <!--<script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447735628/pace.min.js"></script>-->
  <!-- ================== END BASE JS ================== -->

	
	<!--[if lt IE 9]>
	    <script src="assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
</head>
<style type="text/css">
    .visible{
        display: none;
    }
    a.font{
    	font-size: 16px;
    }
    .font{
    	font-size: 16px;
    }
    .verde{
    	color: #00A896;
    }
    .subtitle{
        /* Good: */
        font-family: .AppleSystemUIFont;
        font-size: 18px;
        line-height: 24px;
    }
    .panel.panel-success .panel-heading{
        margin-top: 10px;
    }
    .empresa{
        font-family: .AppleSystemUIFont;
    }
    .btn.btn-warning{
        margin-bottom: 10px;
    }
</style>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="page-loader fade in"><span class="spinner">Loading...</span></div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container" class="fade page-container page-header-fixed page-sidebar-fixed page-with-two-sidebar page-with-footer">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="/" class="navbar-brand">
                        <img src="https://res.cloudinary.com/vianse/image/upload/v1453435624/worbe/Logo_pronostic_clicnf.jpg" height="35px" width="120px">

                    </a>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->
				
				<!-- begin navbar-right -->
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown navbar-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<span class="hidden-xs"><%= current_user.email %></span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu pull-right">
							<li><a href="/users/edit">Seguridad</a></li>
							<li class="divider"></li>
							<li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete  %></li>
						</ul>
					</li>
				</ul>
				<!-- end navbar-right -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="nav-header">Navegación</li>
					<li class="has-sub active">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-home"></i>
						    <span>Inicio <span class="label label-theme m-l-3">Bienvenidos</span></span>
					    </a>
					    <ul class="sub-menu">
                            <% if @apps == 1  %>
                             <li class="active">
                                <a href="/general?group_id=<%= @grupo %>">
                                    Regresar a Grupo 
                                    <i class="fa fa-file-text-o text-theme m-l-3"></i>
                                </a>
                            </li>
					        <li>
                                <a href="/sucursales?type=Servicio">Operación Servicio
                                    <i class="fa fa-building text-theme m-l-3"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/periodos?app_id=<%= @parametro %>&type=<%= @tipo %>">Periodos Anteriores 
                                    <i class="fa fa-calendar text-theme m-l-3"></i>
                                </a>
                            </li>
                            
                            <% end %>

                            <% if @apps == 2  %>
                            <li>
                                <a href="/sucursales?type=Servicio">Operación Servicio
                                    <i class="fa fa-building text-theme m-l-3"></i>
                                </a>
                            </li>
                        
                            <% if @hyp.blank? %>
                            
                            <% else %>
                            <li>
                                <a href="/sucursales?type=HYP">
                                    Operación HYP 
                                    <i class="fa fa-wrench text-theme m-l-3"></i>
                                </a>
                            </li>
                            <% end %>
                            <li>
                                <a href="/settings?app_id=<%= @parametro %>&type=<%= @tipo %>">Configuración 
                                    <i class="fa fa-cogs text-theme m-l-3"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/objetivos?app_id=<%= @parametro %>&type=<%= @tipo %>">Periodos y Objetivos 
                                    <i class="fa fa-calendar text-theme m-l-3"></i>
                                </a>
                             </li>
                            <li>
                                <a href="/periodos?app_id=<%= @parametro %>&type=<%= @tipo %>">Periodos Anteriores 
                                    <i class="fa fa-calendar text-theme m-l-3"></i>
                                </a>
                            </li>
                            <% end %>            
					    </ul>
					</li>
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		<div id="content" class="content">
      
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="javascript:;">Home</a></li>
				<li class="active">Operación Servicio</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header"><span id="nombre" class="empresa"></span> <small id="fecha"></small></h1>
			<!-- end page-header -->

            <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">Dashboard</h4>
                    </div>
                        <div class="panel-body">
                            <div class="col-md-3">
                                <div class="widget widget-stat bg-inverse text-white">
                                    <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-repeat"></i></a></div>
                                   
                                    <div class="widget-stat-text">TIENES</div>
                                     <div class="widget-stat-number"><div id="ordenes"></div></div>
                                     <div class="widget-stat-text">ORDENES ABIERTAS</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="widget widget-stat bg-inverse text-white">
                                    <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-repeat"></i></a></div>
                                   
                                    <div class="widget-stat-text">FACTURACION AL DÍA</div>
                                     <div class="widget-stat-number"><span id="facturadas"></span> MNX</div>
                                     <div class="widget-stat-text">MES ACTUAL</div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="widget widget-stat bg-primary text-white">
                                <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-repeat"></i></a></div>
                                    <div id="competencia"></div>
                                </div>
                            </div>
                        </div>
            </div>

            <div class="panel panel-inverse">
                            <div class="panel-body">
                                <div class="row"> 
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">Detalles de Ordenes Viejas</h4>
                                        </div>
                                        <div class="table-responsive">
                                           <span id="viejas"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </div>              
             <div id="footer" class="footer">
                <span class="pull-right">
                    <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
                        <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
                    </a>
                </span>
                &copy; 2015 <b>vianse</b> All Right Reserved
             </div>
        </div>
	</div>

<!-- ================== BEGIN BASE JS ================== -->
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447732895/jquery-1.9.1.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733033/jquery-migrate-1.1.0.min.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733159/jquery-ui.min.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733251/bootstrap.min.js"></script>
  <!--[if lt IE 9]>
    <script src="assets/crossbrowserjs/html5shiv.js"></script>
    <script src="assets/crossbrowserjs/respond.min.js"></script>
  <![endif]-->
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733386/jquery.slimscroll.min.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733489/jquery.cookie.js"></script>
  <!-- ================== END BASE JS ================== -->
  
  <!-- ================== BEGIN PAGE LEVEL JS ================== -->
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733913/bootstrap_calendar.min.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733996/jquery.sparkline.min.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734296/jquery.gritter.js"></script>
    <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734361/page-index.demo.js"></script>
    <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733809/demo.js"></script>
    <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447732638/apps.js"></script>
  <!-- ================== END PAGE LEVEL JS ================== -->
	
	<script>
		$(document).ready(function() {
		    App.init();
		    Demo.init();
		    //PageDemo.init();
		});
	</script>
</body data-no-turbolink data-no-transition-cache>
</html>


<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script src="https://rawgit.com/arqex/react-json/master/build/Json.js"></script>
<script src="//cdn.jsdelivr.net/refluxjs/0.2.11/reflux.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<script type="text/javascript">
	function valor(value){
		$( "#total_pronostico" ).text("Total: " + value + " MXN");
		
	};	
	function valor1(value){
		$( "#importe_facturado" ).text("Cumplimiento del objetivo " + value + " MXN");
	};
	function valor2(value){
		$( "#conteo" ).text(value);
		
	};	
	function valor3(value){
		$( "#rest" ).text(value);
	};
	function valor4(value){
		$( "#o" ).text(value + " día(s)");
	};

	function valor5(value){
		$( "#contador" ).text(value);
	};
	
	$( "#ver" ).click(function() {
  		$( "#detalles" ).toggle( "slow", function() {
    // Animation complete.
  });
	});
</script>

<script type="text/jsx">
	/*
	 *  Title
	 */

    var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };


        var empresa = getUrlParameter('app_id');
        var id = getUrlParameter('id');
        var url = "api/v1/obtener_nombre_asesor?app_id=" + empresa 
        var url1 = "api/v1/obtener_ordenes_asesor?app_id=" + empresa + "&id=" + id
        var url2 = "api/v1/obtener_facturadas_asesor?app_id=" + empresa + "&id=" + id
        var url3 = "api/v1/obtener_competencias?app_id=" + empresa + "&id=" + id
        var url4 = "api/v1/obtener_viejas?app_id=" + empresa + "&id=" + id

		var Nombre = React.createClass({
		       getInitialState: function() {
		          return {
		            data: ""
		          };
		        },
		        componentDidMount: function() {
		          var self = this;
		          $.get(this.props.source, function(result) {
		            var collection = result;
		            if (this.isMounted()) {
		              this.setState({
		                data: collection
		              });
		            }
		          }.bind(this));
		          setInterval(this.consulta, 10000);
		        },
		        consulta: function(){
				var self = this;
		          $.get(this.props.source, function(result) {
		            var collection = result;
		            if (this.isMounted()) {
		              this.setState({
		                data: collection
		              });
		            }
		          }.bind(this));
		        },
		        render: function() {   
		          return (
		            <span>
		             {this.state.data}     
		            </span>
		          );
		        }
		      });

		     React.render(
		    <Nombre source={url} />,
		      document.getElementById('nombre')
		 );

		var Fecha = React.createClass({
		       getInitialState: function() {
		          return {
		            data: ""
		          };
		        },
		        componentDidMount: function() {
		          var self = this;
		          $.get(this.props.source, function(result) {
		            var collection = result;
		            if (this.isMounted()) {
		              this.setState({
		                data: collection
		              });
		            }
		          }.bind(this));
		        },
		        render: function() {   
		          return (
		            <span>
		             {this.state.data}     
		            </span>
		          );
		        }
		      });

		     React.render(
		    <Fecha source="api/v1/fecha" />,
		      document.getElementById('fecha')
		 );

        var Ordenes = React.createClass({
               getInitialState: function() {
                  return {
                    data: ""
                  };
                },
                componentDidMount: function() {
                  var self = this;
                  $.get(this.props.source, function(result) {
                    var collection = result;
                    if (this.isMounted()) {
                      this.setState({
                        data: collection
                      });
                    }
                  }.bind(this));
                  setInterval(this.consulta, 10000);
                },
                consulta: function(){
                var self = this;
                  $.get(this.props.source, function(result) {
                    var collection = result;
                    if (this.isMounted()) {
                      this.setState({
                        data: collection
                      });
                    }
                  }.bind(this));
                },
                render: function() {   
                  return (
                    <span>
                     {this.state.data}     
                    </span>
                  );
                }
              });

             React.render(
            <Ordenes source={url1} />,
              document.getElementById('ordenes')
         );    

    var Facturadas = React.createClass({
               getInitialState: function() {
                  return {
                    data: ""
                  };
                },
              
                componentDidMount: function() {
                  var self = this;
                  $.get(this.props.source, function(result) {
                    var collection = result;
                    if (this.isMounted()) {
                      this.setState({
                        data: collection
                      });
                    }
                  }.bind(this));
                  setInterval(this.consulta, 10000);
                },
                consulta: function(){
                    var self = this;
                  $.get(this.props.source, function(result) {
                    var collection = result;
                    if (this.isMounted()) {
                      this.setState({
                        data: collection
                      });
                    }
                  }.bind(this));
              },
                render: function() {   
                  return (
                    <span>
                     {this.state.data}     
                    </span>
                  );
                }
              });

             React.render(
            <Facturadas source={url2} />,
              document.getElementById('facturadas')
         );

        var Competencia = React.createClass({
               getInitialState: function() {
                  return {
                    data: ""
                  };
                },
              
                componentDidMount: function() {
                  var self = this;
                  $.get(this.props.source, function(result) {
                    var collection = result;
                    if (this.isMounted()) {
                      this.setState({
                        data: collection
                      });
                    }
                  }.bind(this));
                  setInterval(this.consulta, 10000);
                },
                consulta: function(){
                var self = this;
                  $.get(this.props.source, function(result) {
                    var collection = result;
                    if (this.isMounted()) {
                      this.setState({
                        data: collection
                      });
                    }
                  }.bind(this));        
                },
                render: function() {  
                    var parametro = this.state.data.costo
                    
                if (parametro == 1){ 
                  return (
                        
                        <span>
                            <div className="widget-stat-text">
                            ¡FELICIDADES LLEVAS EL 1er LUGAR EN FACTURACIÓN!
                            </div>
                         </span>             
                         
                     );
                }
               else
                {
                    return (
                       <span>
                        <div className="widget-stat-text">TU COMPETENCIA LLEVA</div>
                        <div className="widget-stat-number">{this.state.data} MXN </div>
                        <div className="widget-stat-text">AL DÍA DE HOY</div>
                        </span>
                     );

                    }
                }
              });

             React.render(
            <Competencia source={url3} />,
              document.getElementById('competencia')
         );

/* 
 *  Ordenes Viejas 
 */
    
    var OrdenesViejas  = React.createClass({
        componentDidMount: function() {
            $.ajax({
                url: url4 ,
                dataType: 'json',
                success: function(data) {
                  this.setState({data: data});
                }.bind(this)
            });
            
        },
        
        getInitialState: function() {
                  return {
                    data: [],
                    tabla: ""
          
                    };         
                },
        
        render: function() { 
                        var items    = this.state.data.map(function(object){
                    
                            return <tr>
                                            <td><strong>{object.orden}</strong></td>
                                            <td className="text-center">{object.tipo}</td>
                                            <td className="text-center">{object.importe}</td>
                                            <td className="text-center">{object.fecha}</td>
                                            <td className="text-center">{object.dias}</td>
                                    </tr>

                            });


      
                        return   <span>
                                <div>
                                <table className="table table-bordered table-hover table-striped table-td-valign-middle">
                                    <thead>
                                        <tr className="inverse">
                                            <th>No de Orden</th>
                                            <th className="text-center">Tipo</th>
                                            <th className="text-center">Importe</th>
                                            <th className="text-center">Fecha</th>
                                            <th className="text-center">Días Totales</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {items}
                                    </tbody>
                                </table>
                                </div>
                            </span>


                    }
        });
        
        React.render(
                <OrdenesViejas  />,
         document.getElementById('viejas')
         );
</script>
