<p id="notice"><%= notice %></p>

<h1>Listing Asesors</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Asesor</th>
      <th>User</th>
      <th>App</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asesors.each do |asesor| %>
      <tr>
        <td><%= asesor.nombre %></td>
        <td><%= asesor.asesor_id %></td>
        <td><%= asesor.user_id %></td>
        <td><%= asesor.app_id %></td>
        <td><%= link_to 'Show', asesor %></td>
        <td><%= link_to 'Edit', edit_asesor_path(asesor) %></td>
        <td><%= link_to 'Destroy', asesor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asesor', new_asesor_path %>
