<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @asesor.nombre %>
</p>

<p>
  <strong>Asesor:</strong>
  <%= @asesor.asesor_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @asesor.user_id %>
</p>

<p>
  <strong>App:</strong>
  <%= @asesor.app_id %>
</p>

<%= link_to 'Edit', edit_asesor_path(@asesor) %> |
<%= link_to 'Back', asesors_path %>
