<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>Pronostic</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  
<!-- ================== BEGIN BASE CSS STYLE ================== -->
  <link href="http://fonts.googleapis.com/css?family=Nunito:400,300,700" rel="stylesheet" id="fontFamilySrc" />
  <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734615/jquery-ui.min.css" rel="stylesheet" />
    <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734729/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447735152/animate.min.css" rel="stylesheet" />
    <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447735249/style.min.css" rel="stylesheet" />
  <!-- ================== END BASE CSS STYLE ================== -->
  
  <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447735472/jquery.gritter.css" rel="stylesheet" />  
  <!-- ================== END PAGE LEVEL CSS STYLE ================== -->
    
  <!-- ================== BEGIN BASE JS ================== -->
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447735628/pace.min.js"></script>
  <!-- ================== END BASE JS ================== -->
  
  <!--[if lt IE 9]>
      <script src="assets/crossbrowserjs/excanvas.min.js"></script>
  <![endif]-->
</head>
<body class="pace-top">
  <!-- begin #page-loader -->
  <div id="page-loader" class="page-loader fade in"><span class="spinner">Loading...</span></div>
  <!-- end #page-loader -->

  <!-- begin #page-container -->
  <div id="page-container" class="fade page-container">
      <!-- begin login -->
    <div class="login">
        <!-- begin login-brand -->
            <div class="login-brand bg-inverse text-white">
               Iniciar Sesión
            </div>
        <!-- end login-brand -->
        <!-- begin login-content -->
            <div class="login-content">
                <h4 class="text-center m-t-0 m-b-20">Excelente tenerte de vuelta!</h4>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="form-group">
                      <%= f.email_field :email, autofocus: true, :class => "form-control input-lg",:placeholder => "Email Address" %>
                    </div>
                    <div class="form-group">
                      <%= f.password_field :password, autocomplete: "off", :class  => "form-control input-lg",  :placeholder =>"Password" %>
                    </div>
                    <div class="row m-b-20">
                        <div class="col-md-12">
                            <%= f.submit "Sign in to your account", :class => "btn btn-lime btn-lg btn-block" %>
                        </div>
                    </div>
                    <div class="text-center">
                        Nuevo aquí?
                          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                          <%= link_to "Crea a nueva cuenta", new_registration_path(resource_name), :class => "text-muted" %><br />
                        <% end -%>
                    </div>
                <% end %>
            </div>
        <!-- end login-content -->
    </div>
    <!-- end login -->
  </div>
  <!-- end page container -->
  
  <!-- ================== BEGIN BASE JS ================== -->
    <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447732895/jquery-1.9.1.js"></script>
    <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733033/jquery-migrate-1.1.0.min.js"></script>
    <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733159/jquery-ui.min.js"></script>
    <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733251/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
      <script src="assets/crossbrowserjs/html5shiv.js"></script>
      <script src="assets/crossbrowserjs/respond.min.js"></script>
    <![endif]-->
    <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733386/jquery.slimscroll.min.js"></script>
    <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733489/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733913/bootstrap_calendar.min.js"></script>
    <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733996/jquery.sparkline.min.js"></script>
    <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734296/jquery.gritter.js"></script>
      <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734361/page-index.demo.js"></script>
      <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733809/demo.js"></script>
      <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447732638/apps.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
      
    
    <script>
      $(document).ready(function() {
          App.init();
          Demo.initThemePanel();
      });
    </script>
</body>
</html>