<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :app_id %><br>
    <%= f.text_field :app_id %>
  </div>
  <div class="field">
    <%= f.label :esquema %><br>
    <%= f.text_field :esquema %>
  </div>
  <div class="field">
    <%= f.label :importe %><br>
    <%= f.text_field :importe %>
  </div>
  <div class="field">
    <%= f.label :fechapago %><br>
    <%= f.date_select :fechapago %>
  </div>
  <div class="field">
    <%= f.label :fechavencimiento %><br>
    <%= f.date_select :fechavencimiento %>
  </div>
  <div class="field">
    <%= f.label :diasalerta %><br>
    <%= f.text_field :diasalerta %>
  </div>
  <div class="field">
    <%= f.label :diascorteacceso %><br>
    <%= f.text_field :diascorteacceso %>
  </div>
  <div class="field">
    <%= f.label :estatus %><br>
    <%= f.number_field :estatus %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
