<p id="notice"><%= notice %></p>

<p>
  <strong>App:</strong>
  <%= @crm.app_id %>
</p>

<p>
  <strong>Sucursal:</strong>
  <%= @crm.sucursal_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @crm.group_id %>
</p>

<p>
  <strong>Asesor:</strong>
  <%= @crm.asesor_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @crm.fecha %>
</p>

<p>
  <strong>Fecha salida:</strong>
  <%= @crm.fecha_salida %>
</p>

<p>
  <strong>Key:</strong>
  <%= @crm.key %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @crm.mes %>
</p>

<p>
  <strong>Año:</strong>
  <%= @crm.año %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @crm.tipo %>
</p>

<p>
  <strong>Dias:</strong>
  <%= @crm.dias %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @crm.cliente %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @crm.telefono %>
</p>

<p>
  <strong>Verificacion:</strong>
  <%= @crm.verificacion %>
</p>

<%= link_to 'Edit', edit_crm_path(@crm) %> |
<%= link_to 'Back', crms_path %>
