<p id="notice"><%= notice %></p>

<h1>Listing Garantia</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @garantia.each do |garantium| %>
      <tr>
        <td><%= garantium.key %></td>
        <td><%= garantium.date %></td>
        <td><%= link_to 'Show', garantium %></td>
        <td><%= link_to 'Edit', edit_garantium_path(garantium) %></td>
        <td><%= link_to 'Destroy', garantium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Garantium', new_garantium_path %>
