<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @garantium.key %>
</p>

<p>
  <strong>Date:</strong>
  <%= @garantium.date %>
</p>

<%= link_to 'Edit', edit_garantium_path(@garantium) %> |
<%= link_to 'Back', garantia_path %>
